/* Halogy Color Settings */

$primary-color: #567af0;  // Primary Color // Halogy Blue
$secondary-color: #9b59b6; // Secondary Color // Purple
$third-color: #f39c12; // Third Color // Orange 
$fourth-color: #25bca7; // Accent Color // Green Color
$alert-color: #c0392b;  // Alerts
$success-color: #27ae60; // Success & Save Alert Color

$light-color: #FFFFFF;
$dark-color: #000000;

/* Background color for the top bar */
$topbar-bg: $primary-color;

/* Height and margin */
$topbar-height: 60px;
// $topbar-margin-bottom: emCalc(30px);

/* Control Input height for top bar */
// $topbar-input-height: 2.45em;

/* Controlling the styles for the title in the top bar */
$topbar-title-weight: 600;
// $topbar-title-font-size: emCalc(17px);

/* Set the link colors and styles for top-level nav */
$topbar-link-color: $light-color;
$topbar-link-weight: 600;
// $topbar-link-font-size: emCalc(13px);

/* Style the top bar dropdown elements */
$topbar-dropdown-bg: $primary-color;
$topbar-dropdown-link-color: $light-color;
$topbar-dropdown-toggle-size: 5px;
$topbar-dropdown-toggle-color: #fff;
$topbar-dropdown-toggle-alpha: 0.5;
$dropdown-label-color: $primary-color;

/* Top menu icon styles */
// $topbar-menu-link-transform: uppercase;
// $topbar-menu-link-font-size: emCalc(13px);
// $topbar-menu-link-weight: bold;
// $topbar-menu-link-color: #fff;
// $topbar-menu-icon-color: #fff;
$topbar-menu-link-color-toggled: #FFF;
$topbar-menu-icon-color-toggled: #F9F9F9;

/* Transitions and breakpoint styles */
$topbar-transition-speed: 300ms;

// Set Oppacity by White(0.15) or Back(0.15)
@function white($opacity){
    @return rgba(0,0,0,$opacity)
}
@function black($opacity){
    @return rgba(255,255,255,$opacity)
}

// Global Foundation Settings
@import "settings";

// Comment out this import if you are customizing you imports below
@import "foundation";

// Compass CSS3
@import "compass/css3";

/* This controls padding around the buttons. Use a variable or em value */
$padding: $button-med;	

/* This controls button color. Set to one of our variables or a custom hex value */
$bg: $fourth-color;

/* This controls button radius. Set to a variable, true/false, or custom px value */
$radius: $global-radius;

/* This whether button is full-width. Set to true or false */
$full-width: false;

/* This controls whether disabled styles are used. Set to true or false */
$disabled: false;

/* This controls padding for inputs, they are a little different */
$is-input: false;

/* Available Variables */
$small-screen: emCalc(768px);
$medium-screen: emCalc(1280px);
$large-screen: emCalc(1440px);

$screen: "only screen";
$small: "only screen and (min-width:"#{$small-screen}")";
$medium: "only screen and (min-width:"#{$medium-screen}")";
$large: "only screen and (min-width:"#{$large-screen}")";
$landscape: "only screen and (orientation: landscape)";
$portrait: "only screen and (orientation: portrait)";

/* We use this media query to add styles to any device that supports media queries */
@media #{$screen} { }

/* Used to alter styles for screens at least 768px wide. This is where the grid changes. */
@media #{$small} { 
	.body {min-height: 400px;}
}

/* Used to alter styles for screens at least 1280px wide. */
@media #{$medium} { 
	.body {min-height: 400px;}
}

/* Used to alter styles for screens at least 1440px wide. */
@media #{$large} { 
	/*.row {
		width: 90%;
		max-width: 90%;
	} */

}

/* Apply styles to screens in landscape orientation */
@media #{$landscape} { }

/* Apply styles to screens in portrait orientation */
@media #{$portrait} { }

/* We also use Modernizr to add a .touch class to the body when applicable */
/* You can prepend this class to anything and it will style only for touch devices */
.touch .your-element {}


// Global

*,
*:after,
*:before {
    box-sizing: border-box;
}

.container {
	overflow: hidden;
}

ul, ol, dl {
	font-size: $paragraph-font-size;
	line-height: 1.6;
	margin-bottom: 1.25em;
	list-style-position: inside;
	font-family: inherit;
}

.tip {
	@include alert(#00bda6);
	border-radius: $global-radius;
	margin-top: 16px;
}

textarea {
	height: 125px;
}

.button {
	@include radius;
}

.button btt {
	margin: 0;
}

.list {
	list-style-type: none;
}

.item {
	padding-top: 30px;
	padding-bottom: 30px;
}

.item > p {
	color: #999	;
}

.item * p {
	color: #999	;
}

.checkbox-cat {
	margin: 0 5px;
}

.checkbox-cat input[type="file"], input[type="checkbox"], input[type="radio"], select {
	margin: 0 0 0.25em 0;
}

placeholder {
	color: #000;
}

input {
	color: #000;
	font-weight: normal;
	border-radius: $global-radius;
}

label {
	font-weight: bold;
	font-size: 18px;
}

.table-header {
	background: $primary-color;
	color: $light-color;
}

.table-header h3 {
	color: $light-color;
	padding: 5px 0 3px;
}

.table {
	background-color: #FFF;
	// @include filter-gradient(#f1f1f1, #eaeaea, vertical);
	// @include background-image(linear-gradient(top,  #f1f1f1 0%,#f4f4f4 44%,#eaeaea 100%));
	//border-top: 1px solid #DDDDDD;
	//border-bottom: 1px solid #DDDDDD;
	//box-shadow: 0 -1px 0 $light-color;
	padding: 10px 0 10px;
}

.table > .columns {
	margin: 8px 0 0 0;
}

.table > .buttons {
	text-align: right;
}

.table > .columns > .button {
	margin: 0;
}

.alt {
background-color: #f9f9f9;
}

.padded {
	padding: 0 25px;
}

.user-dropdown {
	color: #FFF;
	margin-right: 25px;
}

.user-dropdown h4{
	color: #FFF;
	margin: 12px 15px;
	font-size: emCalc(14px);
}

.profile {
	height: 45px;
	@include border-radius(45px);
	border: 2px solid #FFF;
	float: right;
	margin: 6px 10px;
}

.reveal-modal {
	@include border-radius(3px);
}

// Button Groups

$radius: $global-radius;
$even: false;
$float: left;

.button-group { @include button-group-container;
	text-align: right;
  	& > li { @include button-group-style($radius, $even, $float); }
}

.success {
	@include button($padding, $bg, $radius, $full-width, $disabled, $is-input);
}
.green {
	@include button($padding, $bg, $radius, $full-width, $disabled, $is-input);
}
.orange {
	@include button($padding, $third-color, $radius, $full-width, $disabled, $is-input);
}
.grey {
	@include button($padding, darken($light-color, 10%), $radius, $full-width, $disabled, $is-input);
}

// Labels

/* Using the available options */
.published  { 
	@include label;
	background: $fourth-color;
}

.not-published {
	@include label;
	background: $alert-color;
}

.redirect  { 
	@include label;
	background: $third-color;
}

// Tabs

// Removing the border at the top
.section-container.auto > section > .title, .section-container.auto > .section > .title {
	border: 0;
}

// Setting our own color for the active tab
.section-container.auto > section.active > .title, .section-container.auto > .section.active > .title {
	border-top: solid 3px $primary-color;
}

.section-container.auto > section > .title, .section-container.auto > .section > .title {
	border-top: solid 3px $primary-color;
}

// Setting our own color for the non-active
.section-container.auto > section:last-child .title, .section-container.auto > .section:last-child .title {
	border-top: solid 3px $fourth-color;
	border-right: 0;
}

// Removing the content borders
.section-container.auto > section .content, .section-container.auto > .section .content {
	border: 0;
}

.dropdown hr {
	border: 0;
}

$global-padding: emCalc(15px) emCalc(15px) emCalc(10px) emCalc(15px);

@mixin card($bg-color) {
	background: $bg-color;
	padding: $global-padding;
	@include border-radius($global-radius);
	@include box-shadow (0 1px 2px darken(#FFF, 15%));
}

.card {
	@include card($light-color);
	overflow: hidden;
}

.card h3 {
	font-weight: 400;
}

.card > .author {
	color: #999;
	font-size: emCalc(13px);
	margin: 2px 0 0 0;
}

.card > .excerpt {
	color: #32393d;
	font-style: italic;
}

.card > .posted {
	color: #999;
	font-size: emCalc(13px);
	margin: 0 0 2px 0;
}

.card-admin {
	float: right;
	text-align: right;
}

.card-admin a {
	background: #f1f1f1;
	color: #333;
	font-size: emCalc(13px);
	margin: emCalc(4px) 0 emCalc(4px) emCalc(10px);
	padding: emCalc(4px) emCalc(10px) emCalc(4px);
}

.card-admin a:hover {
	background: darken(#f1f1f1, 15%);
}

.card-status {
	float: left;
	text-align: left;
}

.module-tip {
	@include card(darken($primary-color, 0%));
	color: $light-color;
	.close { @include alert-close; }
}

.header {
	@include card(#FFF);
	margin-bottom: 20px;
}

.header h1{
	float: left;
}

.header .button {
	float: right;
	margin: 10px 15px;
}

.body {
	margin-top: 15px;
	min-padding-bottom: 25px;
}

// Alerts

.error {   
  @include alert-base;
  @include alert-style($alert-color);
  @include radius($global-radius);
  border: none;
  .close {@include alert-close;}
}

.error .close {
	text-decoration: none;
}

.error p {
	margin: 0;
}

.error a {
	color: #FFF;
	text-decoration: underline;
}
.message {   
  @include alert-base;
  @include alert-style($success-color);
  @include radius($global-radius); 
}

.message p {
	margin: 0;
}

.important-message{
	@include alert-base;
	@include alert-style($third-color);
	@include radius($global-radius); 
}

.important-message > a{
	color: $light-color;
	text-decoration: underline;
}

.headingleft {
	font-weight: normal;
	float: left;
}

.hidden {
	display: none;
}

.col1 > input {
	display: none;
}

.cat-name {
	color: #4d4d4d;
	font-size: 18px;
}

.versions li{
	list-style-type: none;
	border-bottom: 1px solid #DDD;
	padding: 10px 0;
}

.versions button.small, .button.small {
	margin: 0;
}


// Sidebar

.side {
	background: #34495e;
}

.side-bar {
	background: darken($light-color, 80%);
	float: left;
	padding: 0 0 0.9375em 0;
	position: relative;
	width: 16.66667%;
}

.side-bar .button-group {
	margin-bottom: 25px;
}

.side-bar-h {
	background: darken(#333, 6%);
	border-bottom: lighten(#333, 2%) 1px solid;
	border-top: lighten(#333, 2%) 1px solid;
	margin-top: 0px;
	padding: 10px;
}

.side-bar h3{
	color: #898b94;
	margin-bottom: 1px;
	font-size: .9em;
	font-weight: 800;
	text-transform: uppercase;
}

.side-bar input {
	margin: 0 0 10px 0 !important;
}

.side-bar .button-group a {
}

.side-bar > .side-nav {
	color: #32393d;
	padding-top: 0.2em;
	font-size: 1em;
}

.side-bar > .side-nav a{ 
	color: #898b94;
}

.side-bar > .side-nav a:hover{ 
	color: $primary-color;
}

.side-bar > .side-nav li.active > a:first-child {
	color: $primary-color;
}

// Sidebar Menu Items

.blog_click{}

// Login

.login-screen {
	@include card ($light-color);
}
// Dashboard

.touch-box {
	@include button($padding, $bg, $radius, $full-width, $disabled, $is-input);
	color: $light-color;
	text-align: center;
	@include radius($global-radius);
}

.touch-box i{
	font-size: 5em;
}

.admin-header {
	background: $primary-color;
	border-top-left-radius: $global-radius;
	border-top-right-radius: $global-radius;
	padding: 10px 10px;
	text-align: left;
}

.admin-header h3{
	color: $light-color;
	margin: 0;
}

.activity { 
	background: #FFF;
	color: darken(#FFF, 65%);
	border-bottom-left-radius: $global-radius;
	border-bottom-right-radius: $global-radius;
	padding: $global-padding;
	margin-bottom: 20px;
	@include box-shadow (0 1px 2px darken(#FFF, 15%));
}

.activity ul{
	list-style-type: none;
}

// Dashboard

.dash-users {
	background: $fourth-color;
	border-radius: $global-radius;
	color: $light-color;
	margin-bottom: 25px;
	padding: $global-padding;
}

.dash-users i {
	font-size: 5em;
}

.dash-users p {
	margin-bottom: 0;
} 

.dash-users .dash-number {
	float: right;
	font-size: 3em;
}

.dash-sales {
	background: $secondary-color;
	border-radius: $global-radius;
	color: $light-color;
	margin-bottom: 25px;
	padding: $global-padding;
}

.dash-sales i {
	font-size: 5em;
}

.dash-sales p {
	margin-bottom: 0;
}

.dash-sales .dash-number {
	float: right;
	font-size: 3em;
}

.dash-sales .dash-number-money {
	float: right;
	font-size: 2em;
}

.dash-tickets {
	background: $primary-color;
	border-radius: $global-radius;
	color: $light-color;
	margin-bottom: 25px;
	padding: $global-padding;
}

.dash-tickets i {
	font-size: 5em;
}

.dash-tickets p {
	margin-bottom: 0;
}

.dash-tickets .dash-number {
	float: right;
	font-size: 3em;
}


// Sidebar

.sidebar ul{
	list-style-type: none;
}

.sidebar-module-header h3{
	color: $light-color;
	margin: 0;
}


.sidebar-module-header {
	background: $primary-color;
	border-top-left-radius: $global-radius;
	border-top-right-radius: $global-radius;
	padding: 10px 0;
	text-align: center;
}

.sidebar-module {
	background: #FFF;
	color: darken(#FFF, 65%);
	border-bottom-left-radius: $global-radius;
	border-bottom-right-radius: $global-radius;
	padding: $global-padding;
	margin-bottom: 20px;
	@include box-shadow (0 1px 2px darken(#FFF, 15%));
}

.sidebar-module ul{
	line-height: 1.8em;
}

.welcome {
	background: $third-color;
	border-radius: $global-radius;
	color: $light-color;
	padding: $global-padding;
	margin: 0 0 20px 0;
	text-shadow: 0 1px (darken($third-color, 15%));
	.close { @include alert-close; }
}

.welcome h3 {
	color: $light-color;
}

ul.dashboardnav { margin: 0 5px 2px 0; text-align: right; }
ul.dashboardnav li { display: inline; }
ul.dashboardnav li a { background: #ccc; color: #fff; padding: 8px; font-size: 12px; border-radius: $global-radius; }
ul.dashboardnav li.active a { background: $primary-color; }

div#placeholder { height:180px; margin-bottom: 10px; margin-top: 45px;}

// Default Table

.default {
	border-radius: $global-radius;
	width: 100%;
}

.default > thead {
	border-top-left-radius: $global-radius;
	border-top-right-radius: $global-radius;
	color: $light-color;
}
.default > thead a{
	color: $light-color;
}

// Edit Sites

.perm-heading {
	@include card(#F9F9F9);
	height: 70px;
	margin: 0 0 25px 0;
	clear: both; 
}
.perm-heading .button {float: right;}
.perm-heading .checkbox {float: left;}
.perm-heading > label {
	float: left;
	font-size: emCalc(20px);
	width: 50%;
}
.permissions {
	@include card(#F9F9F9);
	display: none; 
	margin-bottom: 25px;  
	clear: both; 
}
.permissions > label {
	float: left;
	font-size: emCalc(18px);
	width: 50%;
}

// Pages - Viewall.php

ul.order, ol.order { list-style-type: none; padding: 0; margin: 0; line-height: 1.5em; }
ul.order ul, ol.order ol { list-style-type: none; padding: 0; margin: 0; }
ul.order li, ol.order li { margin: 0; padding: 0; cursor: move; clear: both; clear: both; }
ul.order ul li, ol.order ol li  { margin: 0; }
ol.order { list-style-position: inside; }
ol.order .buttons { display: inline; float: left; text-align: right; }
.order img { margin: 0 5px 0 0; padding: 8px 0; vertical-align: middle; }
.order p {margin-bottom: 0;}

.page-order {
	padding-top:10px;
	padding-bottom:10px;
}

ol.order .pagelink { font-size: 1.2em; }
ol.order .draft { background: #ffffec !important; }
ol.order .hiddenpage { background: #e9e9e9; }
ol.order .haschildren { margin: 8px 0; border-bottom: none !important; }

span.autosave-saving { display: none; background:$primary-color; color: $light-color; padding:5px; border-radius: $global-radius;}
span.autosave-complete { display: none; background:$primary-color; color: $light-color; padding: 5px; border-radius: $global-radius;}
.markup {margin-top: 15px;}

// Image Uploads

	//The grid for large view
[class*="block-grid-"] {

}
.large-block-grid-4 > li {
	text-align: left;
}

.edit-image{
	text-align:center;
}

.folder {margin: 10px 0 !important;}

// Blog

.preview-container {
	background: #f1f1f1;
	$border-radius: $global-radius;
}

.ui-sortable-placeholder {
	border: 3px dashed #aaa; 
	background: #ccc;
	height: 52px;
}

.ui-datepicker {
	@include card(#FFF);
	@include box-shadow (0px 0px 10px 5px darken(#FFF, 15%));
	z-index: 3 !important;
}

.ui-datepicker-prev {
	@include button;
	@include button-size($button-sml);
	@include radius;
}

.ui-datepicker-next {
	@include button;
	@include button-size($button-sml);
	@include radius;
	float: right;
}

.ui-datepicker-title {
	margin: 5px 0;
	text-align: center;
}

// Footer

footer {

	bottom: 0;
	min-height: 50px;
	margin: 50px 0 0 0;
	padding: $global-padding;
	width: 100%;
}

.hide {
	display: none;
}

.clear {clear:both;}