// Halogy Color Settings

$primary-color: #567af0;
$secondary-color: #9e719d;
$third-color: #f29f46;
$fourth-color: #9e719d;
$alert-color: #c63c3d;
$success-color: #6ea820;

$light-color: #FFFFFF;
$dark-color: #000000;

// Background color for the top bar
$topbar-bg: $primary-color;

// Height and margin
// $topbar-height: 45px;
// $topbar-margin-bottom: emCalc(30px);

// Control Input height for top bar
// $topbar-input-height: 2.45em;

// Controlling the styles for the title in the top bar
$topbar-title-weight: 600;
// $topbar-title-font-size: emCalc(17px);

// Set the link colors and styles for top-level nav
$topbar-link-color: $light-color;
$topbar-link-weight: 600;
// $topbar-link-font-size: emCalc(13px);

// Style the top bar dropdown elements
$topbar-dropdown-bg: $primary-color;
$topbar-dropdown-link-color: $light-color;
$topbar-dropdown-toggle-size: 5px;
$topbar-dropdown-toggle-color: #fff;
$topbar-dropdown-toggle-alpha: 0.5;
$dropdown-label-color: $primary-color;

// Top menu icon styles
// $topbar-menu-link-transform: uppercase;
// $topbar-menu-link-font-size: emCalc(13px);
// $topbar-menu-link-weight: bold;
// $topbar-menu-link-color: #fff;
// $topbar-menu-icon-color: #fff;
// $topbar-menu-link-color-toggled: #888;
// $topbar-menu-icon-color-toggled: #888;

// Set Oppacity by White(0.15) or Back(0.15)
@function white($opacity){
    @return rgba(0,0,0,$opacity)
}
@function black($opacity){
    @return rgba(255,255,255,$opacity)
}

// Global Foundation Settings
@import "settings";

// Comment out this import if you are customizing you imports below
@import "foundation";

/* This controls padding around the buttons. Use a variable or em value */
$padding: $button-med;	

/* This controls button color. Set to one of our variables or a custom hex value */
$bg: $fourth-color;

/* This controls button radius. Set to a variable, true/false, or custom px value */
$radius: false;

/* This whether button is full-width. Set to true or false */
$full-width: false;

/* This controls whether disabled styles are used. Set to true or false */
$disabled: false;

/* This controls padding for inputs, they are a little different */
$is-input: false;


// Global

ul, ol, dl {
	font-size: $paragraph-font-size;
	line-height: 1.6;
	margin-bottom: 1.25em;
	list-style-position: inside;
	font-family: inherit;
}

$global-padding: emCalc(20px) emCalc(20px) emCalc(10px) emCalc(20px);

// Alerts

.error {   
  @include alert-base;
  @include alert-style($alert-color);
  @include radius($global-radius);
  .close {@include alert-close;}
}

.error p {
	margin: 0;
}
.message {   
  @include alert-base;
  @include alert-style($success-color);
  @include radius($global-radius); 
}

// Dashboard

.touch-box {
	@include button($padding, $bg, $radius, $full-width, $disabled, $is-input);
	border: 1px solid darken($fourth-color, 10%);
	color: $light-color;
	text-align: center;
	@include radius($global-radius);
	box-shadow: 0 2px 0 darken($fourth-color, 10%)
}

.touch-box i{
	font-size: 5em;
}



.admin-header {
	background: $primary-color;
	border-radius: $global-radius;
	color: $light-color;
	margin: 0 0 20px 0;
	padding: 5px 10px 6px 10px;
}

.admin-header h2{
	color: $light-color;
	margin: 0;
	text-shadow: 0 2px $anchor-font-color-hover;
}

.activity { 
	background: darken(#FFF, 5%);
	border: 1px solid darken(#FFF, 25%);
	border-radius: $global-radius;
	padding: $global-padding; 
	margin: 0 0 10px;
	box-shadow: 0 2px 0 darken(#FFF, 25%);
}

.activity ul{
	list-style-type: none;
}

// Sidebar

.sidebar { 
	background: darken(#FFF, 5%);
	border: 1px solid darken(#FFF, 25%);
	border-radius: $global-radius;
	padding: $global-padding;
}


.sidebar ul{
	list-style-type: none;
}

.sidebar-module {
	background: #FFF;
	border: 1px solid darken(#FFF, 25%);
	border-radius: $global-radius;
	padding: $global-padding;
	margin-bottom: 20px;
	box-shadow: 0 2px 0 darken(#FFF, 25%);
}

.welcome {
	background: $third-color;
	border: 1px solid #c17018;
	border-radius: $global-radius;
	color: $light-color;
	padding: $global-padding;
	margin: 0 0 20px 0;
	text-shadow: 0 1px #c17018;
}

.welcome h3 {
	color: $light-color;
}

ul.dashboardnav { margin: 0 5px 2px 0; text-align: right; }
ul.dashboardnav li { display: inline; }
ul.dashboardnav li a { background: #ccc; color: #fff; padding: 4px; font-size: 10px; border-radius: $global-radius; }
ul.dashboardnav li.active a { background: $primary-color; }

div#placeholder { height:180px; margin-bottom: 10px; }

